<!-- Filter + Search -->
<div class="order-toolbar">

  <!-- 狀態篩選 -->
  <select class="status-filter" [(ngModel)]="filterStatus" (change)="applyFilter()">
    <option value="">全部狀態</option>
    <option value="1">待付款</option>
    <option value="2">配送中</option>
    <option value="3">已完成</option>
  </select>

  <!-- 訂單編號搜尋 -->
  <input class="order-search" type="text" placeholder="搜尋訂單編號" [(ngModel)]="keyword" (input)="applyFilter()" />

</div>
<div class="order-list">
  <div class="order-card" *ngFor="let o of orders" (click)="goDetail(o.orderId)">

    <div class="row">
      <div class="order-no">訂單編號：{{ o.orderNo }}</div>
      <div class="status status-pending">
        {{o.status === 1 ? '待付款' : o.status === 2 ? "配送中" : o.status === 3 ?"已完成" : '狀態異常' }}
      </div>
    </div>

    <div class="row">
      <div>下單時間：{{ o.createDate | date:'yyyy-MM-dd HH:mm'}}</div>
      <div class="price">NT$ {{ o.totalAmount | number }}</div>
    </div>

  </div>
</div>