<footer class="footer">
  <!-- Start Footer Top -->
  <!-- <div class="footer-top">
    <div class="container">
      <div class="inner-content">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-12">
            <div class="footer-logo">
              <a href="#">
                <img src="images/GPShop.png">
              </a>
            </div>
          </div>
          <div class="col-lg-9 col-md-8 col-12">
            <div class="footer-newsletter">
              <h4 class="title">
                Subscribe to our Newsletter
                <span>Get all the latest information, Sales and Offers.</span>
              </h4>
              <div class="newsletter-form-head">
                <form action="#" method="get" target="_blank" class="newsletter-form">
                  <input name="EMAIL" placeholder="Email address here..." type="email">
                  <div class="button">
                    <button class="btn">Subscribe<span class="dir-part"></span></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- End Footer Top -->
  <!-- Start Footer Middle -->
  <div class="footer-middle">
    <div class="container">
      <div class="bottom-inner">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-12">
            <!-- Single Widget -->
            <div class="single-footer f-link">
              <h3>關於我們</h3>

              <ul>
                <li><a href="javascript:void(0)">關於我們</a></li>
                <li><a href="javascript:void(0)">公司介紹</a></li>
                <li><a href="javascript:void(0)">品牌故事</a></li>
                <li><a href="javascript:void(0)">聯絡我們</a></li>
                <!-- <li><span>公司介紹</span> 9.00 am - 8.00 pm</li>
                <li><span>品牌故事</span> 10.00 am - 6.00 pm</li> -->
              </ul>
              <!-- <p class="mail">
                <a href="mailto:Lun.com">聯絡我們</a>
              </p> -->
            </div>
            <!-- End Single Widget -->
          </div>
          <div class="col-lg-3 col-md-6 col-12">
            <!-- Single Widget -->
            <div class="single-footer f-link">
              <h3>客服中心</h3>
              <ul>
                <li><a href="javascript:void(0)">常見問題</a></li>
                <li><a href="javascript:void(0)">付款方式</a></li>
                <li><a href="javascript:void(0)">退貨退款</a></li>
                <li><a href="javascript:void(0)">物流方式</a></li>
              </ul>
            </div>
            <!-- <div class="single-footer our-app">
              <h3>Our Mobile App</h3>
              <ul class="app-btn">
                <li>
                  <a href="javascript:void(0)">
                    <i class="lni lni-apple"></i>
                    <span class="small-title">Download on the</span>
                    <span class="big-title">App Store</span>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <i class="lni lni-play-store"></i>
                    <span class="small-title">Download on the</span>
                    <span class="big-title">Google Play</span>
                  </a>
                </li>
              </ul>
            </div> -->
            <!-- End Single Widget -->
          </div>
          <div class="col-lg-3 col-md-6 col-12">
            <!-- Single Widget -->
            <div class="single-footer f-link">
              <h3>會員 / 購物相關</h3>
              <ul>
                <li><a href="javascript:void(0)">會員中心</a></li>
                <li><a href="javascript:void(0)">註冊 / 登入</a></li>
                <li><a href="javascript:void(0)">購物流程說明</a></li>
                <li><a href="javascript:void(0)">優惠活動說明</a></li>
              </ul>
            </div>
            <!-- End Single Widget -->
          </div>
          <div class="col-lg-3 col-md-6 col-12">
            <!-- Single Widget -->
            <div class="single-footer f-link">
              <h3>法律與政策</h3>
              <ul>
                <li><a href="javascript:void(0)">隱私權政策</a></li>
                <li><a href="javascript:void(0)">使用者條款</a></li>
                <li><a href="javascript:void(0)">退款政策</a></li>
                <li><a href="javascript:void(0)">資料保護聲明</a></li>
              </ul>
            </div>
            <!-- <div class="single-footer f-link">
              <h3>Shop Departments</h3>
              <ul>
                <li><a href="javascript:void(0)">Computers & Accessories</a></li>
                <li><a href="javascript:void(0)">Smartphones & Tablets</a></li>
                <li><a href="javascript:void(0)">TV, Video & Audio</a></li>
                <li><a href="javascript:void(0)">Cameras, Photo & Video</a></li>
                <li><a href="javascript:void(0)">Headphones</a></li>
              </ul>
            </div> -->
            <!-- End Single Widget -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Middle -->
  <!-- Start Footer Bottom -->
  <div class="footer-bottom">
    <div class="container">
      <div class="inner-content">
        <div class="row align-items-center">
          <div class="col-lg-4 col-12">
            <div class="payment-gateway">
              <span>付款方式:</span>
              <img src="assets/images/footer/credit-cards-footer.png" alt="#">
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <div class="copyright">
              <!-- <p>Designed and Developed by<a href="#" rel="nofollow" target="_blank">BabaLulla</a></p> -->
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <ul class="socila">
              <li>
                <span>追蹤我們:</span>
              </li>
              <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
              <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a></li>
              <li><a href="javascript:void(0)"><i class="lni lni-instagram"></i></a></li>
              <li><a href="javascript:void(0)"><i class="lni lni-google"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Bottom -->
</footer>