<div class="row">
  <!-- 左側分類 -->
  <div class="col-3 border-end faq-left">
    <ng-container *ngFor="let c of categories">
      <div class="faq-root">{{ c.categoryName }}</div>

      <div class="faq-sub" *ngFor="let child of c.children" (click)="selectSubCategory(child.id)"
        [class.active]="child.id === activeCategoryId">
        - {{ child.categoryName }}
      </div>
    </ng-container>
  </div>

  <!-- 右側：清單 + 內容 -->
  <div class="col-9">
    <div class="row g-0">
      <!-- 清單（像 8591 list） -->
      <div class="col-4 border-end faq-list">
        <div class="faq-list-title">問題清單</div>

        <div *ngFor="let f of faqs" class="faq-item" (click)="openFaq(f.faQid)"
          [class.active]="f.faQid === activeFaqId">
          {{ f.question }}
        </div>
      </div>

      <!-- 內容 -->
      <div class="col-8 faq-content">
        <div *ngIf="!faqDetail" class="faq-empty">
          請先從左側選擇分類，並點選問題查看內容
        </div>

        <div *ngIf="faqDetail">
          <h2 class="faq-title">{{ faqDetail.question }}</h2>

          <ng-container *ngFor="let b of faqDetail.blocks">
            <h5 *ngIf="b.blockType === 'STEP_TITLE'" class="faq-step">
              {{ b.content }}
            </h5>

            <p *ngIf="b.blockType === 'TEXT'" class="faq-text">
              {{ b.content }}
            </p>

            <img *ngIf="b.blockType === 'IMAGE'" [src]="b.imageUrl" class="faq-image" />
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>