<div class="row">
  <!-- 左側分類 -->
  <div class="col-3 border-end">
    <ng-container *ngFor="let c of categories">
      <div class="fw-bold py-1" (click)="selectCategory(c.id)">
        {{ c.categoryName }}
      </div>

      <div class="ms-3" *ngFor="let child of c.children">
        <div class="py-1" (click)="selectCategory(child.id)">
          - {{ child.categoryName }}
        </div>
      </div>
    </ng-container>
  </div>

  <!-- 右側內容 -->
  <div class="col-9">
    <!-- FAQ 清單 -->
    <ul *ngIf="!faqDetail">
      <li *ngFor="let f of faqs" (click)="openFaq(f.FaqId)">
        {{ f.question }}
      </li>
    </ul>

    <!-- FAQ 詳細 -->
    <div *ngIf="faqDetail">
      <h4>{{ faqDetail.question }}</h4>
      <p>{{ faqDetail.answer }}</p>

      <div *ngFor="let b of faqDetail.blocks">
        <p *ngIf="b.blockType === 'TEXT'">
          {{ b.content }}
        </p>

        <img *ngIf="b.blockType === 'IMAGE'" [src]="b.imageUrl" class="img-fluid mb-2">
      </div>
    </div>
  </div>
</div>