<!-- Preloader -->
<div class="preloader">
  <div class="preloader-inner">
    <div class="preloader-icon">
      <span></span>
      <span></span>
    </div>
  </div>
</div>

<!-- Header -->
<app-header></app-header>

<!-- Main content for routing -->
<main>
  <router-outlet></router-outlet>
</main>

<!-- Footer -->
<app-footer></app-footer>

<!-- Floating Game Button -->
<button class="floating-btn" *ngIf="!isGameHomeOpened" (click)="openGameHome()">
  <i class="lni lni-game"></i>
</button>

<!-- Scroll to Top -->
<a class="scroll-top" (click)="scrollToTop()">
  <i class="lni lni-chevron-up"></i>
</a>