<!-- Preloader -->
<div class="preloader">
  <div class="preloader-inner">
    <div class="preloader-icon">
      <span></span>
      <span></span>
    </div>
  </div>
</div>

<!-- Header -->
<app-header></app-header>



<!-- Main content for routing -->
<main>
  <router-outlet></router-outlet>
</main>
<app-ad-slot *ngIf="(adsVis.floatVisible$ | async)" positionCode="right_float" variant="float" [closable]="true"
  (closed)="adsVis.dismissFloat()">
</app-ad-slot>
<!-- Footer -->
<app-footer></app-footer>

<!-- Floating Game Button -->
<div class="floating-wrap" *ngIf="showFloating">
  <button class="close-btn" (click)="closeFloating()">X</button>
  <button class="floating-btn" *ngIf="!isGameHomeOpened" (click)="openGameHome()">
    <i class="lni lni-game"></i>
  </button>
</div>

<!-- Scroll to Top -->
<a class="scroll-top" (click)="scrollToTop()">
  <i class="lni lni-chevron-up"></i>
</a>