<div class="register-wrapper">
  <div class="register-card">

    <h2 class="register-title">
      {{ isExternalLogin ? '會員資料補全' : '會員註冊' }}
    </h2>

    <form [formGroup]="form" (ngSubmit)="Submit()">

      <div class="form-row">
        <label>姓名</label>
        <input type="text" formControlName="fullName" placeholder="請輸入姓名" />

        @if (form.get('fullName')?.invalid && form.get('fullName')?.touched) {
        <small class="error-text">請輸入姓名</small>
        }
      </div>

      <div class="form-row">
        <label>信箱</label>
        <input type="email" formControlName="mail" placeholder="請輸入 Email" />

        @if (form.get('mail')?.invalid && form.get('mail')?.touched) {
        <small class="error-text">Email 格式錯誤</small>
        }
      </div>

      @if (!isExternalLogin) {
      <div class="form-row">
        <label>密碼</label>
        <input type="password" formControlName="password" placeholder="請輸入密碼" />

        @if (form.get('password')?.invalid && form.get('password')?.touched) {
        <small class="error-text">密碼必填 (8-20字)</small>
        }
      </div>
      }

      <div class="form-row">
        <label>手機號碼</label>
        <input type="tel" formControlName="phone" placeholder="例如: 0912345678" />

        @if (form.get('phone')?.invalid && form.get('phone')?.touched) {
        <small class="error-text">手機格式錯誤</small>
        }
      </div>

      <div class="form-row">
        <label>地址</label>
        <input type="text" formControlName="address" placeholder="請輸入地址" />

        @if (form.get('address')?.invalid && form.get('address')?.touched) {
        <small class="error-text">地址必填</small>
        }
      </div>

      <div class="form-row">
        <label>配送地址(選填)</label>
        <input type="text" formControlName="shippingAddress" placeholder="同上可不填" />
      </div>

      <div class="form-row">
        <label>生日</label>
        <input type="date" formControlName="birthDay" [max]="getTodayString()" [min]="'1900-01-01'" />

        @if (form.get('birthDay')?.invalid && form.get('birthDay')?.touched) {
        <small class="error-text">生日日期無效</small>
        }
      </div>
      <div class="form-actions">
        <button type="button" class="demo-btn" (click)="fillDemoData()">
          🚀 Demo 一鍵填值
        </button>

        <button type="submit" class="submit-btn" [disabled]="form.invalid">
          {{ isExternalLogin ? '完成資料' : '註冊' }}
        </button>
      </div>

    </form>
  </div>
</div>